@import url('https://fonts.googleapis.com/css?family=Reem+Kufi+Fun&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(31, 30, 30);
    color: #ffffff;
    font-family: 'Reem Kufi Fun', sans-serif;
    padding: 0;
    margin: 0;
}

.headerClass {
    width: 100%;
    height: 50px;
    padding-right: 100px;
    left: 0;
    background-color: white;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transition: 2s all linear;
}

.headerLinkWrapper {
    height:100%;
    padding:0 50px 0 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: 0.5s all
}

.headerLinkWrapper:hover {
    font-size: 1.2rem;
    cursor: pointer;
}

.headerButtonWrapper {
    height:100%;
    padding:0 50px 0 50px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* CSS */
.hideHeaderButton {
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(31, 30, 30);
  color: rgb(31, 30, 30);
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px 10px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 5px;
}

.hideHeaderButton span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.hideHeaderButton span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.hideHeaderButton:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 30, 30);;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.hideHeaderButton:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.hideHeaderButton:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.headerLink {
    text-decoration: none;
    color: rgb(31, 30, 30);
    width: 100%;
}

#lastLinkHeader {
    margin-right: 100px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sectionContent {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hidden.intro {
    transform: translateX(0);
    transition: all 1.5s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2.5s;
}

.hidden.link {
    filter: blur(
        0
    );
}

.hidden.arrow.intro {
    transition-delay: 2000ms;
    filter: blur(0);
}

#arrows {
    animation: bounce 2s infinite 3.5s;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#arrows:hover {
    cursor: pointer;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 25vw;
}

.show {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

@media(max-width: 840px) {
    #links {
        min-width: 55vw;
    }
}

@media(max-width: 420px) {
    #links {
        min-width: 80vw;
    }
}

@media(max-width: 570px) {
    .headerLink{
        padding:0 10px 0 10px;
    }
    #lastLinkHeader {
        margin-right: 0px;
    }
}


.link {
    transition-delay: calc(200ms * var(--order));
}

#eyes, #eyes img {
    position: absolute;
}

#flamingoWithEyes {
    position: fixed;
    top: 100%;
    left: 20%;
    transition: transform 0.5s ease-out;
}

#flamingoWithEyes.onlyEyes {
    transform: translateY(-60px);
}

#flamingoWithEyes.wholeVisible{
    transform: translateY(-160px);
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 103%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

#flamingoWithEyes:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media (orientation: portrait) {
#flamingoWithEyes {
    visibility: hidden;
}
}

.spriteManContainer {
    position: fixed;
    top: 0;
    left: -50px;
    width: 115px;
    height: 156px;
    transform: scale(0.4) scaleX(1);
    transform-origin: left top;
    background: url('/img/spriteRun.png');
    animation: move 0.5s steps(6) infinite;
    transition: all 2s linear;
}

.spriteManContainer.run {
    left: calc(100% - 50px);
}

.spriteManContainer.stop {
    left: 100%;
    animation: stop 0.5s steps(6) infinite;
    cursor: pointer;
}

.spriteManContainer.rotate {
    transform: scale(0.4) scaleX(-1);
    transition: all 2.045s linear;
}

.headerClass.move {
    left: 100%;
}

@keyframes stop {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 0;
    }
} 

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 863px 0;
    }
} 


/* Climb part is for the sprite man to climb up away from the screen
    but I didn't get it to work yet.
*/
/* .climb {
    background: url('/img/spriteClimb.png') !important;
    top: -10% !important;
    animation: climb 0.5s steps(2) infinite !important;
    animation-delay: 2s !important;
} */


/* @keyframes climb {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 195px 0;
    }
}  */
